.header {
    position: fixed;
    height: calc(3rem + 6vh);
    display: flex;
    width: 100%;
    flex-direction: column;
    background: var(--light-grey);
    z-index: 10;
}

.upperHeader {
    height: 80%;
    width: 100%;
    display: flex;
    border: 1px solid #464646;
    border-top: none;
    border-right: none;
    padding: 5px 0;

}