.header {

    height: calc(3rem + 6vh);
    display: flex;
    width: 100%;
    flex-direction: column;
}

.upperHeader {
    height: 80%;
    width: 100%;
    display: flex;
    border: 1px solid #464646;
    border-top: none;
    border-right: none;

}