.header {

    height: calc(4rem + 6vh);
    display: flex;
    width: 100%;
}

.upperHeader {
    height: 80%;
    width: 100%;
    display: flex;
    border: 1px solid #464646;
    border-top: none;
    border-right: none;

}