.homeContainer {
    height: calc(100vh - (3rem + 6vh));
    width: 100vw;
}

.lowerSideContainer {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
}