:root {

  --light-grey: #F0F0F0;
  --dark-grey: #D2D2D2;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--light-grey)
}