:root {

  --light-grey: #F0F0F0;
  --dark-grey: #D2D2D2;
  --text-color: #464646
}

@font-face {
  font-family: 'BandeinsStrange';
  src: url('/fonts/bandeins-strange-variable.ttf') format('truetype');
}

@font-face {
  font-family: 'Clash Light';
  src: url('/fonts/ClashDisplay-Light.woff') format('truetype');
}

@font-face {
  font-family: 'Clash Semibold';
  src: url('/fonts/ClashDisplay-Semibold.woff') format("woff");
}

@font-face {
  font-family: 'Baumans';
  src: url('/fonts/baumans.ttf') format("truetype");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background-size: 100% 100%;
  background: #B24592;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F15F79, #B24592);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F15F79, #B24592);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1,
h2,
h3,
p,
a,
ul,
span {}