:root {

  --light-grey: #F0F0F0;
  --dark-grey: #D2D2D2;
  --text-color: #464646
}

@font-face {
  font-family: 'BandeinsStrange';
  src: url('/fonts/bandeins-strange-variable.ttf') format('truetype');
}

@font-face {
  font-family: 'Clash Light';
  src: url('/fonts/ClashDisplay-Light.woff') format('truetype');
}

@font-face {
  font-family: 'Clash Semibold';
  src: url('/fonts/ClashDisplay-Semibold.woff') format("woff");
}

@font-face {
  font-family: 'Baumans';
  src: url('/fonts/baumans.ttf') format("truetype");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--light-grey)
}

h1,
h2,
h3,
p,
a,
ul,
span {
  color: --text-color;
}